<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Read</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {% for user in all_users %}
    <div class="card col-3 bg-dark text-light">
        <div class="card-body">
            <h2 class="card-title text-primary">User: {{user['first_name']}} {{user['last_name']}}</h2>
            <p class="card-text">Email: {{user['email']}}</p>
            <hr>
        </div>
    </div>
    {% endfor %}

    </div>
</body>
</html>